<!doctype html>
<html lang="en" ng-app="YellowNote">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href='../node_modules/bootstrap/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href='templates/note.css'>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-route/angular-route.min.js"></script>
    <script src="app.js"></script>
    <script src="controller.js"></script>
    <script src="service.js"></script>
    <script src='filter.js'></script>
    <script src="config.js"></script>
</head>

<body>
    NOTE PROJECT

    <div ng-view></div>

    <hr>

    <div ng-controller="allnotes">
        <div class="note" ng-repeat='(key, value) in notes'>
            <span class="deletebut btn" id={{$index}} ng-click="deletenote(this.id)">X</span>
            <div class="txt">{{value.text}}</div>
            <br>
            <div class="date">{{value.date | date:"MM/dd/yyyy"}} </div>
        </div>
    </div>


</body>

</html>